<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>OMG!</title>
  <link rel="stylesheet" href="/style.css">
  <script src="/client.js" type="module"></script>
</head>
<body>

  <header>
    <h1>FDND & CMD Squads</h1>
  </header>

  <nav>
    <ul>
      <li><a href="/squad/?id=cldczeqqt178k0avw3jmbc8wy">Squad A</a></li>
      <li><a href="/squad/?id=cldczf97o17ul0auom0qsu3aw">Squad B</a></li>
      <li><a href="/squad/?id=cldczfwic17ve0auohhcaumpm">Squat C</a></li>
    </ul>
  </nav>

  <main>
  
