<%- include('./partials/head.ejs') %>

<% squads.forEach(squad => { %>
  <a href="/squad/?id=<%= squad.id %>">
    <article>
      <h2><%= squad.name %></h2>
    </article>
  </a>
<% }) %>

<%- include('./partials/foot.ejs') %>