:root {
  --color-pink: #d88c9a;
  --color-orange: #f2d0a9;
  --color-almond: #f1e3d3;
  --color-green: #99c1b9;
  --color-purple: #8e7dbe;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: system-ui, sans-serif;
  font-weight: 200;
  background: var(--color-almond);
  color: black;
  padding:1rem  1rem 6rem;
}
nav ul {
  display:flex;
  list-style:none;
  gap:1rem
}
a {
  color:#000
}
main {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  gap: 1rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

main > h1 {
  flex-basis: 100%;
}

section {
  max-width:30em
}
img {
  max-width:100%;
}
article {
  position: relative;
  transition: 0.5s;
  display: flex;
  flex-flow: row nowrap;
  width: 10rem;
  height: 5rem;
  border-radius: 1rem;
  background: var(--color-green);
  margin:.5rem 0;
  transition:.15s
}
article:hover {
  transform:scale(1.05)
}


article:last-of-type {
  background: var(--color-purple);
}

article h2 {
  display: block;
  padding: 0.5rem;
  height: 5rem;
  font-size: 1rem;
  overflow-wrap: anywhere;
  overflow: none;
}
article img {
  width: 5rem;
  height: 5rem;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
}
article a {
  position: absolute;
  width: 10rem;
  height: 5rem;
  border-radius: 1rem;
}
article:has(a:hover) {
  transform: scale(1.2);
}
section > article {
  flex-direction: column;
  justify-content: flex-start;
  height:auto;
}
section > article h2,
section > article p {
  height:auto;
  margin:0;
  padding:.5rem
}

footer > p > span {
  display: inline-block;
  transform: rotate(180deg);
}
fieldset {
  padding: 1rem;
}

label {
  margin: 1rem 0 0.2rem;
  display: block;
}
select,
textarea,
input[type='text'],
input[type='submit'] {
  font-family: monospace;
  padding: var(--component-padding);
  width: 100%;
  font-size: 1.3em;
  background-color: #fff4;
  border: 1px solid currentColor;
  border-radius: var(--rounded);
  color: var(--c-blue);
  transition:.1s;
  padding:.25rem
}
textarea {
  height: 8em;
}
textarea:focus,
input[type='text']:focus {
  outline: none !important;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
  transform: scale(1.05);

}
input[type='text'] {
  height: 1.6em;
}
input[type='submit'] {
  margin-top: 1rem;
  background: #000;
  color: #fff;
  border-radius: var(--pilled);
  transition: 0.25s;
  border-radius:1rem;
  padding:.25rem 0;
  justify-self: center;
  
}
input[type='submit']:hover {
  transform: scale(1.05);
}
input[type='submit']:focus {
  transform: scale(1.05);
  background: var(--c-green);
  color: var(--c-blue);
  outline:none;
  
}
form button {
  opacity:0;
  border-radius:50%;
  padding:.25rem;
  text-align: center;
  margin-top: .25rem;
  transition:.25s;
  width:10rem;

}
form button:hover,
form button:focus {
  transform:scale(1.25);
  
}

body.js-enabled form button {
  opacity:1;
  all:unset;
  

}

footer {
  position:fixed;
  bottom:0;
  left:0;
  z-index: 1000;
}
footer p {
  background-color: var(--color-almond);
  padding:1rem;
}